.Introduction {
  grid-column: 1 / -1;
  grid-row: 3 / 5;

  /* background-image: linear-gradient(
    var(--color-blue-medium),
    var(--color-blue-light),
    var(--color-blue-medium)
  ); */
  background-color: var(--color-blue-medium);

  color: var(--font-light);

  /* Center content div */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* padding: 100px 10px; */
  /* Padding to add room for overlapping Skills component */
  padding-bottom: 400px;
}

.introduction-content {
  padding: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction-content h2 {
  text-align: center;
}

.introduction-text {
  width: 700px;
}

/* MQ - iPad */
@media only screen and (max-width: 800px) {
  .introduction-text {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .Introduction {
    padding-bottom: 650px;
  }
  .introduction-content {
    width: auto;
    padding: 20px;
  }

  .introduction-text {
    width: auto;
    padding-bottom: 50px;
  }
}
