.Introduction {
  grid-area: introduction;

  /* background-image: linear-gradient(
    var(--color-blue-medium),
    var(--color-blue-light),
    var(--color-blue-medium)
  ); */
  background-color: var(--color-blue-medium);

  color: var(--font-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 100px 10px;
}

.introduction-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 75px;
}

.Introduction .introduction-text {
  width: 700px;
}

.introduction-skills {
  color: var(--font-dark);
  background-color: var(--color-white);
  width: 75%;
  border-radius: 10px;

  text-align: center;

  display: flex;
}

.skills-section {
  padding: 10px;
}

.skills-tools {
  list-style: none;
}

@media only screen and (max-width: 900px) {
  .introduction-skills {
    flex-direction: column;
    width: 90%;
  }
}
