.Skills {
  grid-column: 3 / 11;
  grid-row: 4 / 6;

  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(35, 35, 36, 0.308);

  background-color: var(--color-white);

  z-index: 10;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.skill {
  display: grid;
  border: 1px solid rgb(150, 149, 149);
  padding: 30px;
  text-align: center;

  grid-template-columns: 1;
  grid-template-rows: auto auto auto auto auto auto 150px;
}

.skill:first-child {
  border-radius: 10px 0 0 10px;
  border-bottom: none;
}

.skill:last-child {
  border-radius: 0 10px 10px 0;
  border-top: none;
}

/* SKILL SECTIONS */
.skill-icon i {
  font-size: 50px;
  color: var(--color-blue-medium);
}

.skill-main-heading {
  font-size: 30px;
}

.skill-subheading {
  color: var(--color-blue-medium);
  /* padding-bottom: 15px; */
}

.skill-tools {
  list-style: none;
}

/* MEDIA QUERY -- 600 */
@media only screen and (max-width: 600px) {
  .Skills {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);

    grid-column: 2 / 12;
  }

  .skill {
    grid-template-rows: auto auto auto auto auto auto auto;
  }

  .skill:first-child {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
  }

  .skill:last-child {
    border-radius: 0 0 10px 10px;
    border-top: none;
  }

  .skill-main-heading {
    font-size: 25px;
    padding: 10px 0 15px 0;
  }

  .skill-subheading {
    font-size: 18px;
    padding: 8px 0 8px 0;
  }
}
