.NavBar {
  /* color: white; */

  height: 50px;

  grid-area: nav;

  display: flex;

  justify-content: space-between;
  align-items: center;

  /* box-shadow: 0px 10px 8px 10px rgba(41, 41, 41, 0.5); */

  /* transition: all 0.1s; */
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
