.Lander {
  grid-column: 1 / -1;
  grid-row: 2;

  text-align: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.Lander .heading-large {
  padding-bottom: 20px;
}

.Lander .subheading {
  font-size: 28px;
  padding-bottom: 50px;
  letter-spacing: 2px;
  font-weight: 200;
}

.Lander img {
  display: block;

  margin: 0 auto;
}

.Lander .avatar {
  width: 700px;
}

/* **** Media Queries **** */

/* MQ - iPad */
@media only screen and (max-width: 800px) {
  .Lander .avatar {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .Lander .avatar {
    width: 300px;
  }

  .Lander .subheading {
    font-size: 20px;
  }
}
