.Testimonials {
  grid-column: 3 / 11;
  grid-row: 7;

  text-align: center;

  padding: 75px 0;
}

.Testimonials h1 {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .Testimonials {
    grid-column: 1 / 13;
    padding: 0;
  }
}
