.Testimonials {
  grid-column: 3 / 11;
  grid-row: 7;

  text-align: center;

  padding: 75px 0;

  height: auto;
}

.Testimonials h1 {
  margin: 0 auto;
}

.slider {
  height: 400px;
  text-align: center;
}

.slider-button {
  background-color: var(--color-blue-medium);
  padding: 10px;
  border-radius: 50%;
  color: var(--font-light);
}

@media only screen and (max-width: 600px) {
  .Testimonials {
    grid-column: 1 / 13;
    padding: 0;
  }
}

/* MQ - iPad */
@media only screen and (max-width: 800px) {
  .Testimonials {
    grid-column: 2 / 12;
    padding: 25px 0;
  }
}
