.App {
  color: var(--font-dark);

  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto auto auto auto auto auto auto auto;
}

.heading {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}

.heading-large {
  font-size: 50px;
  padding: 10px 20px;
  letter-spacing: 2px;

  margin-bottom: 20px;
}

.heading-medium {
  font-size: 40px;
  padding: 10px 20px;

  margin-bottom: 20px;
}

.heading-small {
  font-size: 30px;
}

.underline--blue {
  text-decoration: underline;
  text-decoration-color: var(--color-blue-medium);
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-rows: 50px auto auto auto auto auto auto auto auto;
  }

  .heading-large {
    font-size: 35px;
  }

  .heading-medium {
    font-size: 25px;
  }
}
