.Testimonial {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.Testimonial img {
  max-height: 150px;
  padding: 20px;
}

.Testimonial p {
  margin: 0 50px;
  width: 50%;

  text-align: center;
}
