.PortfolioCard {
  color: var(--font-light);
  position: relative;

  border-radius: 10px;
  overflow: hidden;

  transition: all 0.3s;
}

.portfolio-image {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: var(--color-blue-medium);

  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image-overlay-content {
  height: 50%;
  /* width: 100%; */

  padding: 30px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.portfolio-image-overlay-content h4 {
  padding-bottom: 15px;
}

.portfolio-image-overlay-buttons {
  /* position: absolute;
  bottom: 0;
  padding: 20px; */

  width: 100%;

  display: flex;
  justify-content: space-around;
}

.portfolio-image-overlay-buttons button {
  /* font-size: 100%; */
  font-family: inherit;
  padding: 5px 8px;
  color: var(--font-light);
  border: 2px solid var(--font-light);

  border-radius: 10px;

  background-color: var(--color-blue-medium);
  cursor: pointer;

  transition: all 0.3s;
}

.portfolio-image-overlay-buttons button:hover {
  color: var(--font-dark);
  background-color: var(--font-light);
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 1px rgba(35, 35, 36, 0.308);
}

.PortfolioCard:hover .portfolio-image-overlay {
  opacity: 1;
}

.PortfolioCard:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px 1px rgba(35, 35, 36, 0.308);
  z-index: 5;
}

/* .PortfolioCard:hover .portfolio-image {
  opacity: 0;
} */
